<style>
    .header{
        width: auto;
        height: auto; 
        align: center;
        margin: 1cm;
        line-height: 2;
    }
    .kop {
        font-family: tahoma; 
        text-align: center;
        height: 1cm;
    }
    td,p {
       font-family: tahoma;
       font-size: 12pt; 
    }
    
</style>

<table class="header" border="1" cellpadding="0">
    <tbody>
      <tr>
        <td colspan="4">
          <div class="kop">
              <b>KOP SURAT</b>
          </div>
        </td>
      </tr>
      <tr>
        <td colspan="4" align="right">
            tanggal,bulan tahun
        </td>
      </tr>
      <tr>
        <td width="10%">No</td>
        <td colspan="3">: </td>
       </tr>
       <tr>
        <td>Lampiran</td>
        <td colspan="3">: </td>
       </tr>
       <tr>
        <td>Perihal</td>
        <td colspan="3">
          : Permohonan Bantuan Bibit
        </td>
       </tr>
       <tr><td><br></td></tr>
      <tr>
        <td colspan="4">Yth. Kepala balai BPDAS Sei Jang Duriangkang</td>
      </tr>
      <tr>
        <td colspan="4">Di- Tanjungpinang</td>    
      </tr>
      <tr><td><br></td></tr>
      <tr>
        <td colspan="4" valign="top" align="justify">
            <p>Sehubungan dengan adanya bibit gratis bagi masyarakat berupa bibit Berkualitas dan bibit Produktif pada Balai Pengelolaan Daerah Aliran Sungai (BPDAS) Sei Jang Duriangkang Provinsi Kepulauan Riau, dengan hormat kami atas nama :</p>
        </td>
      </tr>
      <tr>
        <td colspan="2" width="25%">
          Nama (kelompok/perorangan)
        </td>
        <td colspan="2">
            : {{}}
        </td>
      </tr>
      <tr>
        <td colspan="2">
          Alamat
        </td>
        <td colspan="2">
            : {{}}
        </td>
      </tr>
      <tr>
        <td colspan="2">
          nomor Telp/HP
        </td>
        <td colspan="2">
            : {{}}
        </td>
      </tr>
      <tr align="justify">
        <td colspan="4">akan melaksanakan penanaman bibit pohon seluas {{}} Ha, dengan alamat lokasi di {{}} (sketsa lokasi terlampir) dalam rangka kegiatan {{}}</td>
      </tr>
      <tr>
        <td colspan="4"><br><br></td>
      </tr>
    </tbody>
  